header{
	
	width: 100%;
	height: 50px;
}

img{
	height: 60%;
	margin: auto;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	overflow: auto;
}

footer{
	
	width: 100%;
    height: 30px;		
}

.container{
	min-height: calc(100vh - 50px - 30px);
	
}

/* ============ desktop view ============ */
@media all and (min-width: 992px) {
	.dropdown-menu li {
		position: relative;
	}
	.dropdown-menu .submenu {
		display: none;
		position: absolute;
		left: 100%;
		top: -7px;
	}
	.dropdown-menu .submenu-left {
		right: 100%;
		left: auto;
	}
	.dropdown-menu>li:hover {
		background-color: #f1f1f1
	}
	.dropdown-menu>li:hover>.submenu {
		display: block;
	}
}
/* ============ desktop view .end// ============ */

/* ============ small devices ============ */
@media ( max-width : 991px) {
	.dropdown-menu .dropdown-menu {
		margin-left: 0.7rem;
		margin-right: 0.7rem;
		margin-bottom: .5rem;
	}
}
/* ============ small devices .end// ============ */