header{
	
	width: 100%;
	height: 50px;
}

img{
	height: 60%;
	margin: auto;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	overflow: auto;
}

footer{
	
	width: 100%;
    height: 30px;		
}

.container{
	min-height: calc(100vh - 50px - 30px);
	
}